*.brf
*.gz
*.log
*.aux
*.pdf
*.pyc
*.png
*.jpg
*ipynb_*
*ipynb
*._*
*.so
*.o
*.pth.tar
bbox.c
doc
.DS_STORE
.DS_Store
.idea
.project
.pydevproject
_ext
*egg-info



##### Due to incompatibility with the original setup procedure #####
setup/setup.py
setup/requirements.txt
